/* Custom */
/* Sidenavigation */
.nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > li > a:hover {
  background: var(--sidenav-active-links-bg);
  border-radius: var(--sidenav-contents-border-radius);
  color: var(--sidenav-active-links-color);
  font-weight: lighter;
}

.nav > li > a > .type {
  padding: 0.1em 1em;
  font-size: 0.8em;
  margin: 0 1em;
}

.main-title {
  font-weight: bold;
  font-family: "Source Sans Pro Bold", sans-serif;
  color: aliceblue;
}

.main-description {
  color: aliceblue;
}

.pull-left {
  padding: 2em 0 0 0;
}

#content {
  background-color: var(--container-bg);
  padding: 0 5em;
}

#topnav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2em;
  background-color: var(--sidenav-bg);
  z-index: 100;
}

html {
  background-color: var(--sidenav-bg);
}

.permission {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: var(--permission-block-bg);
  border-radius: var(--permission-border-radius);
  margin: 10px 0 0 0;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li.active > a {
  background-color: var(--sidenav-bg);
  border: 0;
  padding: 0.4em 1.5em;
  color: white;
}

pre.prettyprint {
  margin-top: 0;
  border-radius: 0;
}
