/* Custom */
/* Sidenavigation */
.nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > li > a:hover {
  background: var(--sidenav-active-links-bg);
  border-radius: var(--sidenav-contents-border-radius);
  color: var(--sidenav-active-links-color);
  font-weight: lighter;
}

.nav > li > a > .type {
  padding: 0.1em 1em;
  font-size: 0.8em;
  margin: 0 1em;
}

.main-title {
  color: #f3f3f3;
}

.pull-left {
  padding: 2em 0 0 0;
}

#content {
  background-color: var(--container-bg);
  padding: 0 5em;
}

#topnav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2em;
  background-color: var(--sidenav-bg);
  z-index: 100;
}

html {
  background-color: var(--container-bg);
}
