:root {
  /* Sidenav */
  --sidenav-contents-border-radius: 10px;
  --sidenav-width: 335px;
  --sidenav-children: 280px;
  --content-margin: var(--sidenav-width);
  --sidenav-bg: #1d1d1d;
  --sidenav-color: #ffffff;

  /* Sidenav Search Block */
  --sidenav-search-box-width: 280px;
  --sidenav-search-bg: var(--sidenav-bg);
  --sidenav-search-color: var(--sidenav-color);
  --sidenav-search-border: #3f3f3f;
  --sidenav-search-height: 52px;

  /* Module Names */
  --sidenav-module-name-bg: #3f3f3f;
  --sidenav-module-name-border: #3f3f3f;
  --sidenav-module-name-color: #a5a5a5;

  /* Module links */
  --sidenav-links-color: #a5a5a5;
  --sidenav-active-links-bg: #a7a7a7;
  --sidenav-active-links-color: #000000;

  /* Container */
  --container-bg: #333333;
  --main-title-color: #cfcfcf;
  --main-description-color: #cfcfcf;

  /* Article */
  --article-title-color: #cfcfcf;
  --article-description-color: #cfcfcf;
  --table-header-bg: #0c0c0c;
  --table-body-bg: #131313;
  --table-border-color: #131313;

  /* Code block */
  --code-block-bg: var(--table-body-bg);
  --code-block-border: 1px solid var(--table-border-color);

  /* Permission block */
  --permission-block-bg: var(--table-body-bg);
  --permission-border-radius: 10px;
}
